@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    background-color: #FFF2CC;
    font-family: 'Inter', sans-serif;
}


body::after {
    content: "";
    background-image: url("https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27");
    background-position: left 580px top -300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.title a {
    text-decoration: none;
}

.title a:visited {
    color: #00664F;
}

.title p {
    display: inline-block;
    color: #00664F;
    font-size: 75px;
    font-weight: bold;
    line-height: normal;
    padding: 30px;
}

.login {
    display: flex;
}

.loginInput {
    display: flex;
    flex-direction: column;
}

.loginId,
.loginPwd {
    border: none;
    width: 300px;
    height: 70px;
    margin: 15px;
    padding: 2px 25px 0px 20px;
    font-size: 20px;
}

.loginInput input::placeholder {
    font-size: 20px;
    vertical-align: middle;
}

.loginButton input {
    background-color: #00664F;
    border: none;
    color: white;
    width: 180px;
    height: 175px;
    margin: 15px 15px;
    font-size: 30px;
    font-weight: bold;
}

.loginButton input:hover {
    cursor: pointer;
    background-color: #008e6d;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}

.loginOptions {
    margin: 10px 15px;
    font-size: 17px;
    font-weight: bold;
}

.loginOptions a {
    text-decoration: none;
    color: black;
}