@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  background-color: #fff2cc;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 35px;
  align-items: center;
  height: 60px;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.header .logo p {
  font-size: 36px;
  font-weight: bold;
  color: #00664f;
  vertical-align: middle;
}

.divider {
  width: 100%;
  height: 3px;
  background-color: #b3b3b3;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav li {
  font-size: 18px;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/*content*/
.row {
  padding: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.column {
  float: left;
  padding: 40px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 30%;
}

.fakeimg {
  background-color: #e6e6e6;
  color: #666;
  font-size: 20px;
  width: 100%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  padding-top: 20px;
  gap: 20px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.likeBtn,
.reviewBtn {
  border: none;
  border-radius: 100px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  font-weight: 550;
  line-height: normal;
}

.likeBtn {
  background-color: #fff;
  color: #5a5a5a;
}

.reviewBtn {
  background-color: #00664f;
  color: white;
}

.reviewBtn:hover {
  cursor: pointer;
}

.heart-icon {
  color: #00664f;
  margin-right: 5px;
}

.middle {
  background-color: white;
  margin-top: 40px;
  height: 500px;
}

.titleContainer {
  display: flex;
  padding-top: 10px;
  gap: 30px;
}

.goodsName {
  font-size: 45px;
  font-weight: 700;
}

.goodsDate {
  font-size: 20px;
  color: #5a5a5a;
  margin-top: 25px;
  font-weight: 400;
}

.goodsPrice {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.goodsDetail {
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 200px;
}

.sellerID,
.goodsCondition,
.goodsType,
.goodsArea {
  display: flex;
  padding-bottom: 15px;
  gap: 30px;
}

.sellerID{
    padding-top: 15px;
}

.goodsType {
  gap: 70px;
}

.goodsDetailDivider {
  height: 1px;
  background-color: #b3b3b3;
}

.goodsExplain {
  padding-top: 15px;
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 200px;
}

.goodsExplainTitle {
  padding-bottom: 15px;
}

.recentGoods {
  background-color: white;
  height: 400px;
  width: 170px;
  border: 1px solid #b3b3b3;
  align-items: center;
  justify-content: center;
}

.recentGoodsTitle {
  font-size: 18px;
  color: #5a5a5a;
  font-weight: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.tempImg {
  background-color: #e6e6e6;
  color: #666;
  font-size: 20px;
  height: 90px;
  width: 90px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 37px;
}

.goodsinfo{
    color: black;
}