<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓 - 마이페이지 - 상품 판매 내역</title>
    <link rel="stylesheet" href="../static/mp_product.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27">
            <p>이화 마켓</p>
        </div>
        <ul class="nav">
            <li><a href="/home"> HOME </a></li>
        </ul>
    </div>
    <div class="divider"></div>

    <section class="product">
        <div class="product_row">
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product1.jpg" alt="상품판매 이미지">
                </div>
                <div class="product_label">
                    <div class="product_name">
                        아이폰 13
                    </div>



                </div>
            </div>
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product2.jpg" alt="상품판매 이미지">
                </div>

                <div class="product_label">
                    <div class="product_name">
                        아디다스 삼바
                    </div>


                </div>
            </div>
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product3.jpg" alt="상품판매 이미지">
                </div>
                <div class="product_label">
                    <div class="product_name">
                        마샬 ACTON BT 2
                    </div>


                </div>
            </div>
        </div>
        <div class="product_row">
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product4.jpg" alt="상품판매 이미지">
                </div>
                <div class="product_label">
                    <div class="product_name">
                        나이키 바람막이
                    </div>


                </div>
            </div>
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product5.jpg" alt="상품판매 이미지">
                </div>
                <div class="product_label">
                    <div class="product_name">
                        코닥 볼캡
                    </div>


                </div>
            </div>
            <div class="product_item">
                <div class="product_img">
                    <img src="../static/image/mp_product6.jpg" alt="상품판매 이미지">
                </div>
                <div class="product_label">
                    <div class="product_name">
                        해커스 토익 보카
                    </div>


                </div>
            </div>
        </div>
    </section>

    <aside class="navigation">
        <div class="bar">
            <p>마이페이지</p>
        </div>
        <div class="navi1">
            <p><a href="/mp_product">상품 판매 내역</a></p>
        </div>
        <div class="navi2">
            <p><a href="/mp_review">리뷰</a></p>
        </div>
        <div class="navi3">
            <p><a href="/mp_wishlist">위시리스트</a></p>
        </div>
    </aside>

</body>

</html>