<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓 - 마이페이지 - 상품 판매 내역</title>
    <link rel="stylesheet" href="../static/mp_product.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27">
            <p>이화 마켓</p>
        </div>
        <ul class="nav">
            <li><a href="/home"> HOME </a></li>
        </ul>
    </div>
    <div class="divider"></div>
    <section class="products">
        {% for item in my_products %}
        <div class="product-box">
          <a onclick="location.href='/products/{{item.key}}';">
            <img class="product-image" src="static/image/{{item.img_path}}" />
            <div class="product-info">
              <div class="product-name">
                <h3>{{item.title}}</h3>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
    </section>

    <aside class="navigation">
        <div class="bar">
            <p>마이페이지</p>
        </div>
        <div class="navi1">
            <p><a href="/mp_product">상품 판매 내역</a></p>
        </div>
        <div class="navi2">
            <p><a href="/mp_review">리뷰</a></p>
        </div>
        <div class="navi3">
            <p><a href="/mp_wishlist">위시리스트</a></p>
        </div>
    </aside>

</body>

</html>
