<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓 - 마이페이지 - 리뷰</title>
    <link rel="stylesheet" href="../static/mp_review.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="/home">
                <img src="https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27">
                <p>이화 마켓</p>
            </a>
        </div>
        <ul class="nav">
            <li><a href="/home"> HOME </a></li>
        </ul>
    </div>
    <div class="divider"></div>
    <section class="review">
        <div class="review_row">
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review1.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        아이폰 어댑터
                    </div>


                    <span class="rating">★5.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review2.jpg" alt="리뷰 이미지">
                </div>

                <div class="review_label">
                    <div class="review_name">
                        춘식이 인형
                    </div>

                    <span class="rating">★4.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review3.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        로지텍 유선 마우스
                    </div>

                    <span class="rating">★4.5</span>
                </div>
            </div>
        </div>
        <div class="review_row">
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review4.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        머그컵
                    </div>

                    <span class="rating">★5.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review5.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        토심이 키링
                    </div>

                    <span class="rating">★4.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review6.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        청바지
                    </div>

                    <span class="rating">★5.0</span>
                </div>
            </div>
        </div>
    </section>

    <aside class="navigation">
        <div class="bar">
            <p>마이페이지</p>
        </div>
        <div class="navi1">
            <p><a href="/mp_product">상품 판매 내역</a></p>
        </div>
        <div class="navi2">
            <p><a href="/mp_review">리뷰</a></p>
        </div>
        <div class="navi3">
            <p><a href="/mp_wishlist">위시리스트</a></p>
        </div>
    </aside>

</body>

</html>