<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓 - 마이페이지 - 리뷰</title>
    <link rel="stylesheet" href="../static/mp_review.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="https://s3-alpha-sig.figma.com/img/130e/a961/0ab79992192d64cc57a5d4453e11f8bd?Expires=1699833600&Signature=kuQy-PdBbipIdNFcGUpOzYPsZow50Mm8PSR9N6iXfo~EtWlLqe1Iz195OVBxAjqiEsAqPpD0zQZZJH9OxIT8W8Yc2-dT9GPcmT6uImn4ez0wwwEi4v1W5n03269VAkvrpAxv6iB24hvoApgcmgwPtCPq~7IN2uw76RAefB0I5OFiteQUHSUMPiHbsMHTua8KESOh6FiSgVvqSMj3fNQhPR45ybeBN4Iki681e3FL6xw-CHLnkmJchfDs-UGRFAnpmr7bxGSe-oqiw7KUjJ6GXLccTL6DN2gSNwGi-mTZTVvICzgnnnpdl85VGDw2DvoHRzaYhLvNq6iNA8MYJvptQA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt="">
            <p>이화 마켓</p>
        </div>
        <ul class="nav">
            <li><a href="index.html"> HOME </a></li>
        </ul>
    </div>
    <div class="divider"></div>
    <section class="review">
        <div class="review_row">
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review1.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        아이폰 어댑터
                    </div>


                    <span class="rating">★5.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review2.jpg" alt="리뷰 이미지">
                </div>

                <div class="review_label">
                    <div class="review_name">
                        춘식이 인형
                    </div>

                    <span class="rating">★4.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review3.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        로지텍 유선 마우스
                    </div>

                    <span class="rating">★4.5</span>
                </div>
            </div>
        </div>
        <div class="review_row">
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review4.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        머그컵
                    </div>

                    <span class="rating">★5.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review5.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        토심이 키링
                    </div>

                    <span class="rating">★4.0</span>
                </div>
            </div>
            <div class="review_item">
                <div class="review_img">
                    <img src="../static/image/mp_review6.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        청바지
                    </div>

                    <span class="rating">★5.0</span>
                </div>
            </div>
        </div>
    </section>

    <aside class="navigation">
        <div class="bar">
            <p>마이페이지</p>
        </div>
        <div class="navi1">
            <p><a href="mp_product.html">상품 판매 내역</a></p>
        </div>
        <div class="navi2">
            <p><a href="mp_review.html">리뷰</a></p>
        </div>
        <div class="navi3">
            <p><a href="mp_wishlist.html">위시리스트</a></p>
        </div>
    </aside>

</body>

</html>