<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="stylesheet" type="text/css" href="../static/product_reg.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
         <img src="https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27">
            <p>이화 마켓</p>
        </div>
        <ul class="nav">
            <li><a href="/home">상품 조회</a></li> |
            <li><a href="/review">리뷰 조회</a></li> |
            <li><a href="/mp_product">My Page</a></li> |
            <li><a href="/login">로그인</a></li>
        </ul>

    </div>
    <div class="divider"></div>

    <form action="/products_insert" method="post" enctype="multipart/form-data">
        <div class="info">
            <input type="hidden" name="writerID" value="{{session['id']}}">
            <input type="text" name="category" placeholder="품목">
            <input type="text" name="region" placeholder="지역">
            <input type="text" name="price" placeholder="가격">
            <input type="text" name="status" placeholder="상태">
        </div>
        <div class="title">
            <input type="text" class="item_title" name="title" placeholder="제목">
            <label for="file">+</label>
            <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png, .gif, image/*">
        </div>
        <div class="content">
            <textarea name="content" placeholder="본문"></textarea>
        </div>
        <div class="save-button">
            <button class="temp">임시저장</button>
            <button type="submit" class="save">저장</button>
        </div>
    </form>
</body>

</html>