<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>상품 세부 화면</title>
  <link rel="stylesheet" type="text/css" href="../static/product_detail.css" />
  <script>
      function redirectToReview(url) {
        window.location.href = url;
      }
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <script>
    function showHeart() {
      $.ajax({
        type: 'GET',
        url: '/show_heart/{{key}}/',
        data: {},
        success: function (response) {
          let my_heart = response['my_heart'];
          if (my_heart['interested'] == 'Y') {
            $("#heart").removeClass("fa-heart-o");
            $("#heart").addClass("fa-heart");
            $("#heart").css("color","red");
            $(".likeBtn").attr("onclick","unlike()");
          }
          else {
            $("#heart").removeClass("fa-heart");
            $("#heart").addClass("fa-heart-o");
            $("#heart").css("color","#5a5a5a");
            $(".likeBtn").attr("onclick","like()");
          }
        }
      });
    }
    function like() {
      $.ajax({
        type: 'POST',
        url: '/like/{{key}}/',
        data: {
          interested : "Y"
        },
        success: function (response) {
          alert(response['msg']);
          window.location.reload()
        }
      });
    }
    function unlike() {
      $.ajax({
        type: 'POST',
        url: '/unlike/{{key}}/',
        data: {
          interested: "N"
        },
        success: function (response) {
          alert(response['msg']);
          window.location.reload()
        }
      });
    }
    "{% if session['id'] %}"
      $(document).ready(function() {
        showHeart();
      });
    "{% endif %}"
  </script>
  

  <div class="header">
    <div class="logo">
      <img src="https://github.com/nzeong/Spring-study/assets/121355994/3e86b129-fe60-41d1-a71b-f5f8c2127b27">
      <p>이화 마켓</p>
    </div>
    <ul class="nav">
      <li><a href="/home">상품 조회</a></li>
      |
      <li><a href="/review">리뷰 조회</a></li>
      |
      <li><a href="/mp_product">My Page</a></li>
      |
      <li><a href="/login">로그인</a></li>
    </ul>
  </div>
  <div class="divider"></div>

  <div class="row">
    <div class="column left">
      <img class="product-image" src="../static/image/{{ product.img_path }}" style="width: 400px; height: 400px">
      <div class="buttons">
        <button class="likeBtn">
          <i class="fa fa-heart-o" id="heart"></i> 좋아요
        </button>
        <button class="reviewBtn"
                onclick="redirectToReview('{{ url_for('reg_review', category=product.category, writerID=product.writerID) }}')">
            리뷰 작성하기
        </button>
      </div>
    </div>
    <div class="column middle">
      <div class="titleContainer">
        <div class="goodsName">{{ product.title }}</div>
      </div>
      <div class="goodsPrice">{{ product.price }}원</div>
      <hr>
      <div class="goodsDetail">
        <div class="sellerID">
          <div>작성자 ID</div>
          <div class="goodsinfo">{{ product.writerID }}</div>
        </div>
        <div class="goodsCondition">
          <div>상품 상태</div>
          <div class="goodsinfo">{{ product.status }}</div>
        </div>
        <div class="goodsType">
          <div>품목</div>
          <div class="goodsinfo">{{ product.category }}</div>
        </div>
        <div class="goodsArea">
          <div>판매 지역</div>
          <div class="goodsinfo">{{ product.region }}</div>
        </div>
      </div>
      <hr>
      <div class="goodsExplain">
        <div class="goodsExplainTitle">상품 설명</div>
        <div class="goodsinfo">{{ product.content }}</div>
      </div>
    </div>
    <div class="column right">
    </div>
  </div>
</body>

</html>