<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이화마켓 - 리뷰 조회</title>
    <link rel="stylesheet" href="../static/review.css" />
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="https://s3-alpha-sig.figma.com/img/130e/a961/0ab79992192d64cc57a5d4453e11f8bd?Expires=1699833600&Signature=kuQy-PdBbipIdNFcGUpOzYPsZow50Mm8PSR9N6iXfo~EtWlLqe1Iz195OVBxAjqiEsAqPpD0zQZZJH9OxIT8W8Yc2-dT9GPcmT6uImn4ez0wwwEi4v1W5n03269VAkvrpAxv6iB24hvoApgcmgwPtCPq~7IN2uw76RAefB0I5OFiteQUHSUMPiHbsMHTua8KESOh6FiSgVvqSMj3fNQhPR45ybeBN4Iki681e3FL6xw-CHLnkmJchfDs-UGRFAnpmr7bxGSe-oqiw7KUjJ6GXLccTL6DN2gSNwGi-mTZTVvICzgnnnpdl85VGDw2DvoHRzaYhLvNq6iNA8MYJvptQA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                alt="">
            <p>이화 마켓</p>
        </div>
        <ul class="nav">
            <li><a href="index.html">상품 조회</a></li> |
            <li><a href="review.html">리뷰 조회</a></li> |
            <li><a href="mp_product.html">My Page</a></li> |
            <li><a href="login.html">로그인</a></li>
        </ul>
    </div>
    <div class="banner">
        <h2>이화 마켓에서 원하는 상품의 리뷰를 찾아보세요!</h2>
    </div>

    <div class="dropdown">
        <select>
            <option value="최신순">최신순</option>
            <option value="가격순">가격순</option>
            <option value="인기순">인기순</option>
        </select>
    </div>

    <div class="review_list">
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review1.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>이화그린 학잠</h3>
                    </div>
                    <img src="../static/image/heart2.png" alt="좋아요">
                </div>
            </a>
        </div>
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review2.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>로지텍 블루투스 키보드</h3>
                    </div>
                    <img src="../static/image/heart1.png" alt="좋아요">
                </div>
            </a>
        </div>
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review3.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>MLB 뉴욕양키스 모자</h3>
                    </div>
                    <img src="../static/image/heart1.png" alt="좋아요">
                </div>
            </a>
        </div>
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review4.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>에어팟 케이스</h3>
                    </div>
                    <img src="../static/image/heart1.png" alt="좋아요">
                </div>
            </a>
        </div>
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review5.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>폼폼푸린 키링</h3>
                    </div>
                    <img src="../static/image/heart2.png" alt="좋아요">
                </div>
            </a>
        </div>
        <div class="review_item">
            <a href="review_detail.html">
                <div class="review_img">
                    <img src="../static/image/review6.jpg" alt="리뷰 이미지">
                </div>
                <div class="review_label">
                    <div class="review_name">
                        <h3>노트북 거치대</h3>
                    </div>
                    <img src="../static/image/heart2.png" alt="좋아요">
                </div>
            </a>
        </div>
    </div>

    <span class="post_review">
        <a href="review_reg.html">+ 리뷰 등록</a>
    </span>

</body>

</html>