<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>리뷰 세부 화면</title>
  <link rel="stylesheet" type="text/css" href="../static/review_detail.css" />
</head>

<body>
  <div class="header">
    <div class="logo">
      <img
        src="https://s3-alpha-sig.figma.com/img/130e/a961/0ab79992192d64cc57a5d4453e11f8bd?Expires=1699833600&Signature=kuQy-PdBbipIdNFcGUpOzYPsZow50Mm8PSR9N6iXfo~EtWlLqe1Iz195OVBxAjqiEsAqPpD0zQZZJH9OxIT8W8Yc2-dT9GPcmT6uImn4ez0wwwEi4v1W5n03269VAkvrpAxv6iB24hvoApgcmgwPtCPq~7IN2uw76RAefB0I5OFiteQUHSUMPiHbsMHTua8KESOh6FiSgVvqSMj3fNQhPR45ybeBN4Iki681e3FL6xw-CHLnkmJchfDs-UGRFAnpmr7bxGSe-oqiw7KUjJ6GXLccTL6DN2gSNwGi-mTZTVvICzgnnnpdl85VGDw2DvoHRzaYhLvNq6iNA8MYJvptQA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
        alt="" />
      <p>이화 마켓</p>
    </div>
    <ul class="nav">
      <li><a href="#">상품 조회</a></li>
      |
      <li><a href="#">리뷰 조회</a></li>
      |
      <li><a href="#">My Page</a></li>
      |
      <li><a href="join.html">로그인</a></li>
    </ul>
  </div>
  <div class="divider"></div>
  <section>
    <div class="category">카테고리 > 서브카테고리</div>
    <div class="goodsName">상품 이름</div>
    <div class="goodsScore">★★★★☆</div>
    <div class="goodsDetail">
      <div class="reviewDate">
        <div>작성일</div>
        <div class="goodsinfo">20XX년 XX월 XX일</div>
      </div>
      <div class="reviewerName">
        <div>작성자</div>
        <div class="goodsinfo">(작성자 아이디)</div>
      </div>
    </div>
    <div class="reviewDetailDivider"></div>
    <div class="goodsReview">
      <div class="goodsReviewTitle">상품 리뷰</div>
      <div>(구매자가 작성한 상품에 대한 리뷰)</div>
    </div>
    <div class="moveReview">
      <div class="nextReview">
        <div>△ 다음 리뷰</div>
        <div>(리뷰 상품 이름)</div>
      </div>
    </div>
    <div class="moveReviewDivider"></div>
    <div class="moveReview">
      <div class="prevReview">
        <div>▽ 이전 리뷰</div>
        <div>(리뷰 상품 이름)</div>
      </div>
    </div>
  </section>

  <aside>
    <div class="tempImg">리뷰 사진</div>
    <div class="tempImg">리뷰 사진</div>
  </aside>
  <span class="post_product">
    <a href="review_reg.html">+ 리뷰 등록</a>
  </span>
</body>

</html>